<h4 class='post-title'><a href="#posts/<%= post.escape("id") %>"><%= post.escape('title') %></a></h4>
<% if (post.image) { %>
  <img
  src="<%= post.image().resizedUrl() %>" alt="" />
<% } %>
<div class="post-stats">
  <span class='post-popularity'>Popularity: <%= post.escape("popularity") %></span>
  <span class='post-comments'>Comments: <%= post.comments().length %></span>
</div>
<div class='index-item-bumper'></div>
