<h4 class='post-title'><a href="#posts/<%= post.escape("id") %>"><%= post.escape('title') %></a></h4>
<% if (post.image) { %>
  <a href="#posts/<%= post.escape("id") %>">
    <img src="<%= post.image().escape('url') %>"/>
  </a>
<% } %>
<div class="post-stats">
  <!-- Vote buttons -->
  <button type="button" class="btn btn-success upvote" name="upvote">
    <span class='glyphicon glyphicon-thumbs-up'></span></button>
  <button type="button" class="btn btn-danger downvote" name="downvote">
    <span class='glyphicon glyphicon-thumbs-down'></span></button>

  <span class='post-popularity'>Points: <%= post.escape('score') %></span>
  <span class='post-comments'>Comments: <%= post.comments().length %></span>
  <div class='vote-error'></div>
</div>
<div class='index-item-bumper'></div>
