<h4 class='post-title'><a href="#posts/<%= post.escape("id") %>"><%= post.escape('title') %></a></h4>
<% if (post.image) { %>
  <a href="#posts/<%= post.escape("id") %>">
    <img src="<%= post.image().escape('url') %>" alt="" />
  </a>
<% } %>
<div class="post-stats">
  <!-- Vote buttons -->
  <span><button type="button" class="btn btn-success upvote" name="upvote">
    <span class='glyphicon glyphicon-arrow-up'></span>
  </button></span>
  <span><button type="button" class="btn btn-danger downvote" name="downvote">
    <span class='glyphicon glyphicon-arrow-down'></span>
  </button></span>

  <span class='post-popularity'>Popularity: <%= post.score() %></span>
  <span class='post-comments'>Comments: <%= post.comments().length %></span>
</div>
<div class='index-item-bumper'></div>
