<div class="col-md-1"></div>
<div class="col-md-7">
	<div class="post-show">
		<br><br>

  	<h3><%= post.escape('title') %></h3>
  	<div class='post-details'>
  		Posted by: <%= post.author().escape('username') %>
  		<div class="categories">
   			Categories:
    		<% var categories = [] %>
    		<% post.categories().each(function (category) { %>
      		<% categories.push(category.escape("name")) %>
    		<% }); %>
    		<%= categories.join(", ") %>
  		</div>
  	</div>
  	<br>
    <img src="<%= post.image().escape('url') %>" alt="" />
		<div class="show-post-stats">
		  <!-- Vote buttons -->
			<button type="button" class="btn btn-success upvote" name="upvote">
				<span class='glyphicon glyphicon-thumbs-up'></span></button>
			<button type="button" class="btn btn-danger downvote" name="downvote">
				<span class='glyphicon glyphicon-thumbs-down'></span></button>

  		<span class='post-popularity'>Points: <%= post.escape('score') %></span>
			<span class='post-comments'>Comments: <%= post.comments().length %></span>
		</div>

	  <div class="comments-container">

			<ul class="comments">
			</ul>
  	</div>
		<!-- Bottom of page bumper... -->
	<br>
	</div>
</div>
