<div class="col-md-1"></div>
<div class="col-md-7">
	<div class="post-show">
		<br><br>

  	<h3><%= post.escape('title') %></h3>
  	<div class='post-details'>
  		Posted by: <%= post.author().escape('username') %>
  		<div class="categories">
   			Categories:
    		<% var categories = [] %>
    		<% post.categories().each(function (category) { %>
      		<% categories.push(category.escape("name")) %>
    		<% }); %>
    		<%= categories.join(", ") %>
  		</div>
  	</div>
  	<br>
  	<% if (post.image) { %>
    	<img src="<%= post.image().escape('url') %>" alt="" />
  	<% } %>
		<div class="post-stats">
  		<span class='post-popularity'>Popularity: <%= post.escape("popularity") %></span>
			<span class='post-comments'>Comments: <%= post.comments().length %></span>
		</div>

	  <div class="comments-container">

			<ul class="comments">
			</ul>
  	</div>
		<!-- Bottom of page bumper... -->
	<br>
	</div>
</div>
