<div class="post-show">

  <h2><%= post.escape('title') %></h2>
  <h3>Posted by: <%= post.attributes.user.get('username') %></h3>

  <h4>Categories: <%= post.attributes.categories %></h4>

  <% if (post.image) { %>
    <img
    src="<%= post.image().resizedUrl() %>" alt="" />
  <% } %>
  <div class='post-popularity'>Popularity: <%= post.escape("popularity") %></div>
</div>
