<!DOCTYPE html>
<html>
<head>
  <title>TenGigg</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>

  <script type="text/javascript">
    <% if logged_in? %>
      // window.username = "<%= current_user.username %>"
      window.TenGigg.CURRENT_USER = {
        id: "<%= current_user.id %>",
        username: "<%= current_user.username %>"
      };
    <% else %>
      // window.username = "Account"
      window.TenGigg.CURRENT_USER = {
        id: null,
        username: "Account"
      };
    <% end %>
  </script>

</head>
<body>

  <br>
  <%= yield %>



</body>
</html>
