<!DOCTYPE html>
<html>
<head>
  <title>TenGigg</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    <% if logged_in? %>
      window.username = "<%= current_user.username %>"
    <% else %>
      window.username = "Account"
    <% end %>
  </script>
  
</head>
<body>

  <br><br>
  <%= yield %>



</body>
</html>
